<html>
	<head>
    <title>ChoiceBox</title>
		<script type="text/javascript" src="vue.js"></script>
		<link rel="stylesheet" type="text/css" href ="main.css">
    <link href='https://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
		<meta charset="UTF-8">
	</head>
	
	<body>
    <div id="header"> 

    </div>
		<div id="main-container">
      <div>
        <div v-for="content in contents">
            <button type="button" id="inner-delete" v-on:click="deleteSingle($index)">X</button>
            <img v-bind:src="content.src" alt="{{ content.alt }}"> 
            <br>
            <textarea id="saved" v-model="content.description" placeholder="Type Scenario Here...">{{ content.description }}</textarea>
            <form>
              <input v-model="content.src" type="text" placeholder="Paste Image URL"></input>
            </form>
        </div>
			</div>
		</div>
		
		<div id="side-container">
			<p>Create a Choice</p>
			
			<p>Last Saved: <span>{{ lastSaved }}</span></p>

      <button type="button" v-on:click="createChoice()">Create More</button>	
			<button type="button" v-show="canSave()" v-on:click="saveAll()"><span v-on:click="showTime()">Save All</span></button>			
			<button type="button" v-on:click="deleteAll()" >Delete All</button>			
      
      <p>ChoiceBox:</p>
      <p>ChoiceBox is a template site that enables you to easily make your own choice. A choice is a slightly longer variation of the game Would You Rather.</p>
      <p>A typical choice usually has a scenario and an image that is closely related to the scenario. ChoiceBoxes can have any genre and topic. From <a href="1386557427581.jpg">fantasy</a> to the <a href="1382666624041.png">mundane</a>.</p>
		</div>
	
		<script type="text/javascript" src="main.js"></script>
	</body>
</html>