body {
  background-color: #f7f7f7;
}

button {
  color: black;
  background: #7aB6FF;
  border-color: #7aB6FF;
}

#main-container {
	float: left;
	width: 1110px;
}

#main-container button {
  position: relative;
  float: right;
  right: 25px;
}

#main-container div{
	float: left;
  padding: 10px;
}

#main-container div form {
	clear: both;
	float: left;
	width: 220px;
	border: 1px solid #7AB6FF;
}
#main-container div form input {
  width: 220px;
}

#main-container img {
	width: 220px;
	height: 220px;
	border: 1px solid #7AB6FF;
	display: table-header-group;
}

#main-container textarea {
	float: left;
	width: 222px;
	height: 300px;
	overflow-y: scroll;
	border: 1px solid #7AB6FF;
  background: #f5f5f5;
}

#side-container {
	float: left;
	width: 190px;
  margin-top: 20px;
	border: 1px solid #7AB6FF;
}

#inner-delete {
	position: absolute;
}