body {
  background-color: #7AB6FF;
}

p {
  font-family: 'Times';
}

button {
  background: #6191cc ;
  border-color: #6da3e5;
}

button:hover {
  color: #a1cbff;
}

#main-container {
	float: left;
	width: 1110px;
}

#main-container button {
  position: relative;
  float: right;
  right: 25px;
}

#main-container div{
	float: left;
  padding: 10px;
}

#main-container div form {
	clear: both;
	float: left;
	width: 220px;
	border: 1px solid #2e8cff;
}
#main-container div form input {
  width: 220px;
  font-family: 'Bitter', 'Times';
}

#main-container img {
	width: 220px;
	height: 220px;
  background: #e4f0ff;
	border: 1px solid #2e8cff;
	display: table-header-group;
}

#main-container textarea {
	float: left;
	width: 222px;
	height: 300px;
  color: black;
  font-weight: 500;
  font-family: 'Bitter', 'Times';
	overflow-y: scroll;
  background: #e4f0ff;
  border: 1px solid #2e8cff;
}

#side-container {
	float: left;
	width: 190px;
  margin-top: 20px;
  background: #7AB6F0;
	border: 1px solid #2e8cff;
}

#inner-delete {
	position: absolute;
}
